# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Environment / secrets
.env

# SQLite database
*.db
*.sqlite3

# 업로드된 파일
uploads/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# IDE
.vscode/
.idea/
